.DS_Store
build/*
expath-pkg.xml

resources/scripts/xqlint.min.js
resources/scripts/ace
resources/scripts/eXide.min.*
resources/scripts/jquery/jquery.plugins.min.*

tools/r.js

tools/js.jar
index.html

node_modules/

src/test/cypress/videos/*.mp4
src/test/cypress/screenshots/**/*.png
