.DS_Store
build/*
expath-pkg.xml

resources/scripts/xqlint.min.js
resources/scripts/ace
resources/scripts/eXide.min.*
resources/scripts/jquery/jquery.plugins.min.*
resources/css/ag-grid-community/

tools/r.js

tools/js.jar
index.html

node_modules/

cypress/videos/*.mp4
cypress/screenshots/**/*.png

.*
!.gitignore
!.existdb.json
!.gitmodules
!.github
