{
  "branches": [
    "develop"
  ],
  "plugins": [
    [
      "@semantic-release/commit-analyzer",
      {
        "preset": "conventionalcommits"
      }
    ],
    [
      "@semantic-release/release-notes-generator",
      {
        "preset": "conventionalcommits"
      }
    ],
    [
      "@semantic-release/exec",
      {
        "prepareCmd": "npm version ${nextRelease.version} --no-git-tag-version --allow-same-version && node scripts/update-repo-changelog.mjs --version=${nextRelease.version} --prev-tag=${lastRelease.version}",
        "publishCmd": "npm run build"
      }
    ],
    [
      "@semantic-release/git",
      {
        "assets": ["package.json", "package-lock.json", "repo.xml.tmpl"],
        "message": "chore(release): ${nextRelease.version} [skip ci]"
      }
    ],
    [
      "@semantic-release/github",
      {
        "assets": [
          {
            "path": "build/*.xar",
            "name": "eXide-${nextRelease.version}.xar"
          }
        ]
      }
    ]
  ]
}
