<?xml version="1.0" encoding="UTF-8"?>
<package xmlns="http://expath.org/ns/pkg" name="http://exist-db.org/apps/eXide" abbrev="eXide" version="@project.version@" spec="1.0">
    <title>eXide - XQuery IDE</title>
    <dependency package="http://exist-db.org/apps/shared" semver-min="0.4.0"/>
    <dependency processor="http://exist-db.org" semver-min="3.3.0-SNAPSHOT"/>
</package>
