<?xml version="1.0" encoding="UTF-8"?>
<html>
    <head>
        <title>eXide</title>
        <meta charset="utf-8"/>
        <link rel="stylesheet" type="text/css" href="resources/css/black-tie/jquery-ui-1.10.3.custom.min.css"/>
        <link rel="stylesheet" type="text/css" href="resources/css/jquery.pnotify.default.css"/>
        <link rel="stylesheet" href="resources/css/font-awesome/css/font-awesome.min.css"/>
        <link rel="stylesheet" href="resources/css/ag-grid-community/ag-grid.css"/>
        <link rel="stylesheet" href="resources/css/ag-grid-community/ag-theme-alpine.css"/>
        <link rel="stylesheet" type="text/css" href="resources/css/eXide.css"/>
        <script type="text/javascript" src="resources/scripts/modernizr.custom.js"/>
        <script type="text/javascript" src="resources/scripts/jquery/jquery-1.9.1.min.js"/>
        <script type="text/javascript" src="resources/scripts/jquery/jquery-ui-1.10.3.custom.min.js"/>
        <script type="text/javascript" src="resources/scripts/jquery/jquery.pnotify.min.js"/>
        <script type="text/javascript" src="resources/scripts/jquery/jquery.plugins.min.js"/>
        <script type="text/javascript" src="resources/scripts/d3.v3.min.js"/>
        <script type="text/javascript" src="resources/scripts/less.min.js"/>
        <script src="resources/scripts/ace/ace.js" type="text/javascript" charset="utf-8"/>
        <script src="resources/scripts/ace/theme-eclipse.js" type="text/javascript" charset="utf-8"/>
        <script src="resources/scripts/ace/mode-javascript.js" type="text/javascript" charset="utf-8"/>
        <script src="resources/scripts/ace/mode-xml.js" type="text/javascript" charset="utf-8"/>
        <script src="resources/scripts/ace/mode-c_cpp.js" type="text/javascript" charset="utf-8"/>
        <script src="resources/scripts/ace/mode-html.js" type="text/javascript" charset="utf-8"/>
        <script src="resources/scripts/ace/mode-css.js" type="text/javascript" charset="utf-8"/>
        <script src="resources/scripts/ace/mode-less.js" type="text/javascript" charset="utf-8"/>
        <script src="resources/scripts/ace/mode-snippets.js" type="text/javascript"/>
        <script src="resources/scripts/ace/mode-json.js" type="text/javascript" charset="utf-8"/>
        <script src="resources/scripts/ace/mode-markdown.js" type="text/javascript" charset="utf-8"/>
        <script src="resources/scripts/ace/ext-language_tools.js" type="text/javascript" charset="utf-8"/>
        <script type="text/javascript" src="resources/scripts/xqlint.min.js"/>
        <script type="text/javascript" src="resources/scripts/eXide.min.js"/>
        <!--script type="text/javascript" src="src/ace-modes.js"/>
        <script type="text/javascript" src="src/util.js"/>
        <script type="text/javascript" src="src/popup.js"/>
        <script type="text/javascript" src="src/events.js"/>
        <script type="text/javascript" src="src/dnd.js"/>
        <script type="text/javascript" src="src/history.js"/>
        <script type="text/javascript" src="src/commands.js"/>
        <script type="text/javascript" src="src/mode-helper.js"/>
        <script type="text/javascript" src="src/xquery-helper.js"/>
        <script type="text/javascript" src="src/xml-helper.js"/>
        <script type="text/javascript" src="src/less-helper.js"/>
        <script type="text/javascript" src="src/javascript-helper.js"/>
        <script type="text/javascript" src="src/css-helper.js"/>
        <script type="text/javascript" src="src/outline.js"/>
        <script type="text/javascript" src="src/debuger.js"/>
        <script type="text/javascript" src="src/codevalidator.js"/>
        <script type="text/javascript" src="src/directory.js"/>
        <script type="text/javascript" src="src/editor.js"/>
        <script type="text/javascript" src="src/deployment.js"/>
        <script type="text/javascript" src="src/menu.js"/>
        <script type="text/javascript" src="src/help.js"/>
        <script type="text/javascript" src="src/preferences.js"/>
        <script type="text/javascript" src="src/eXide.js"/>
        <script type="text/javascript" src="src/layout.js"/>
        <script type="text/javascript" src="src/templates.js"/>
        <script type="text/javascript" src="src/resources.js"/>
        <script type="text/javascript" src="src/find.js"/>
        <script type="text/javascript" src="src/visitor.js"/>
        <script type="text/javascript" src="src/xquery-utils.js"/>
        <script type="text/javascript" src="src/quickfix.js"/>
        <script type="text/javascript" src="src/snippets.js"/>
        <script type="text/javascript" src="src/snippet-helper.js"/-->
    </head>
    <body>
        <div id="splash">
            <div>
                <img src="resources/images/logo.png"/>
                <p>
                    <span id="splash-status">Loading</span> ...</p>
                <p class="help">If eXide fails to load within a few seconds, try to clear your browser cache and reload the page
                (hold Shift and click on the reload icon).</p>
                <p id="startup-error" style="display: none;">
                Your browser is too old!<br/>
                eXide requires a modern browser<br/>
                with support for CSS3 flexbox.</p>
            </div>
        </div>
        <div id="fullscreen">
            <div class="header"/>
            <div class="editor-header">
                <div class="menu">
                    <ul>
                        <li>
                            <a href="#">File</a>
                            <ul>
                                <li>
                                    <a href="#" id="menu-file-new" data-command="newDocumentFromTemplate">
                                        <span class="fa fa-file-o"/>New</a>
                                </li>
                                <li>
                                    <a href="#" id="menu-file-new-xquery" data-command="newXQuery">
                                        <span class="fa fa-file-code-o"/>New XQuery</a>
                                </li>
                                <li>
                                    <a href="#" id="menu-file-open" data-command="openDocument">
                                        <span class="fa fa-folder-open-o"/>Open</a>
                                </li>
                                <li>
                                    <a href="#" id="menu-file-close" data-command="closeDocument">
                                        <span class="fa fa-times"/>Close</a>
                                </li>
                                <li>
                                    <a href="#" id="menu-file-close-all" data-command="closeAll">
                                        <span class="fa fa-times-circle"/>Close All</a>
                                </li>
                                <li>
                                    <a href="#" id="menu-file-reload" data-command="reloadDocument">
                                        <span class="fa fa-refresh"/>Reload</a>
                                </li>
                                <li>
                                    <a href="#" id="menu-file-save" data-command="saveDocument">
                                        <span class="fa fa-save"/>Save</a>
                                </li>
                                <li>
                                    <a href="#" id="menu-file-save-as">
                                        <span class="fa fa-share-square-o"/>Save As</a>
                                </li>
                                <li>
                                    <a href="#" id="menu-file-download">
                                        <span class="fa fa-download"/>Download</a>
                                </li>
                                <li>
                                    <a href="#" id="menu-file-manager" data-command="dbManager">
                                        <span class="fa fa-database"/>Manage</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Edit</a>
                            <ul>
                                <li>
                                    <a href="#" id="menu-edit-undo" data-command="undo">
                                        <span class="fa fa-rotate-left"/>Undo</a>
                                </li>
                                <li>
                                    <a href="#" id="menu-edit-redo" data-command="redo">
                                        <span class="fa fa-rotate-right"/>Redo</a>
                                </li>
                                <li>
                                    <a href="#" id="menu-edit-find" data-command="searchIncremental">
                                        <span class="fa fa-search"/>Find in buffer</a>
                                </li>
                                <li>
                                    <a href="#" id="menu-edit-find-files" data-command="findFiles">
                                        <span class="fa fa-search"/>Find in files</a>
                                </li>
                                <li>
                                    <a href="#" id="menu-edit-find-replace" data-command="searchIncremental">
                                        <span class="fa fa-search"/>Find/replace in buffer</a>
                                </li>
                                <li>
                                    <a href="#" id="menu-edit-toggle-comment" data-command="toggleComment">
                                        <span class="fa fa-comment-o"/>Toggle comment</a>
                                </li>
                                <li>
                                    <a href="#" id="menu-edit-preferences" data-command="preferences">
                                        <span class="fa fa-cogs"/>Preferences</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Navigate</a>
                            <ul>
                                <li>
                                    <a href="#" id="menu-navigate-commands" data-command="commandPalette">
                                        <span class="fa fa-terminal"/>Command palette</a>
                                </li>
                                <li>
                                    <a href="#" id="menu-navigate-definition" data-command="gotoDefinition">
                                        <span class="fa fa-crosshairs"/>Go to definition</a>
                                </li>
                                <li>
                                    <a href="#" id="menu-navigate-info" data-command="functionDoc">
                                        <span class="fa fa-info"/>Function doc</a>
                                </li>
                                <li>
                                    <a href="#" id="menu-navigate-symbol" data-command="gotoSymbol">
                                        <span class="fa fa-search"/>Go to symbol</a>
                                </li>
                                <li>
                                    <a href="#" id="menu-navigate-buffer" data-command="openTab">
                                        <span class="fa fa-sitemap"/>Go to buffer</a>
                                </li>
                                <li>
                                    <a href="#" id="menu-navigate-line" data-command="gotoLine">
                                        <span class="fa fa-arrow-circle-o-down"/>Go to line</a>
                                </li>
                                <li>
                                    <a href="#" id="menu-navigate-history" data-command="historyBack">
                                        <span class="fa fa-history"/>Go to last edit</a>
                                </li>
                                <li>
                                    <a href="#" id="menu-navigate-toggle-results" data-command="toggleQueryResults">
                                        <span class="fa fa-columns"/>Toggle results panel</a>
                                </li>
                                <li>
                                    <a href="#" id="menu-navigate-reset">
                                        <span class="fa fa-refresh"/>Reset editor layout</a>
                                </li>
                            </ul>
                        </li>
                        <li title="buffers">
                            <a href="#">Buffers</a>
                            <ul>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Application</a>
                            <ul>
                                <li>
                                    <span class="separator">App: <span id="menu-deploy-active">unknown</span>
                                    </span>
                                </li>
                                <li>
                                    <a href="#" id="menu-deploy-download">
                                        <span class="fa fa-cloud-download"/>Download app</a>
                                </li>
                                <li>
                                    <a href="#" id="menu-deploy-sync" data-command="synchronize">
                                        <span class="fa fa-download"/>Synchronize</a>
                                </li>
                                <li>
                                    <a href="#" id="menu-deploy-live">
                                        <span class="fa fa-check-square-o"/> Live Reload</a>
                                </li>
                            </ul>
                        </li>
                        <li id="menu-xquery">
                            <a href="#">XQuery</a>
                            <ul>
                                <li>
                                    <a href="#" id="menu-xquery-format" data-command="xquery-format">Format code</a>
                                </li>
                                <li>
                                    <a href="#" id="menu-xquery-expand" data-command="expandSelection">Expand selection</a>
                                </li>
                                <li>
                                    <a href="#" id="menu-xquery-rename" data-command="renameSymbol">Rename</a>
                                </li>
                                <li>
                                    <a href="#" id="menu-xquery-extract-function" data-command="extractFunction">Extract function</a>
                                </li>
                                <li>
                                    <a href="#" id="menu-xquery-extract-variable" data-command="extractVariable">Extract variable</a>
                                </li>
                                <li>
                                    <a href="#" id="menu-xquery-run-test" data-command="xquery-run-test">Run as test</a>
                                </li>
                            </ul>
                        </li>
                        <li id="menu-git">
                            <a href="#">Git</a>
                            <ul>
                                <li>
                                    <span class="inactive">git working directory: <span id="menu-git-working-dir">unknown</span>
                                    </span>
                                </li>
                                <li>
                                    <span class="separator">Branch: <span id="menu-git-active">unknown</span>
                                    </span>
                                </li>
                                <li>
                                    <a href="#" id="menu-git-checkout">Checkout</a>
                                </li>
                                <li>
                                    <a href="#" id="menu-git-commit">Synchronize and commit</a>
                                </li>
                            </ul>
                        </li>
                        <li id="menu-xml">
                            <a href="#">XML</a>
                            <ul>
                                <li>
                                    <a href="#" id="menu-xml-rename" data-command="renameSymbol">Rename</a>
                                </li>
                                <li>
                                    <a href="#" id="menu-xml-select-element" data-command="expandSelection">Select element</a>
                                </li>
                                <li>
                                    <a href="#" id="menu-xml-remove-tag" data-command="removeTags">Remove tags</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Help</a>
                            <ul>
                                <li>
                                    <a href="https://github.com/eXist-db/eXide/docs/docs.md" id="menu-help-documentation">Documentation</a>
                                </li>
                                <li>
                                    <a href="#" id="menu-help-keyboard">Keyboard shortcuts</a>
                                </li>
                                <li>
                                    <a href="#" id="menu-help-about">About</a>
                                </li>
                            </ul>
                        </li>
                        <li id="login-info">
                            <a id="user" href="#" title="Click to login or logout">Login</a>
                        </li>
                    </ul>
                </div>
                <span id="toolbar">
                    <div class="options">
                        <span class="current-app" title="Displays the application the current buffer belongs to - if any">
                        Current app: <span id="toolbar-current-app">Unknown</span>
                        </span>
                        <label for="syntax">File Type: </label>
                        <select id="syntax">
                            <option value="text">Text</option>
                            <option value="xml">XML</option>
                            <option value="html">HTML</option>
                            <option value="xquery">XQuery</option>
                            <option value="javascript">Javascript</option>
                            <option value="css">CSS</option>
                            <option value="less">Less</option>
                            <option value="json">JSON</option>
                            <option value="markdown">Markdown</option>
                        </select>
                        <a id="toggle-fullscreen" href="#" title="Toggle Fullscreen Mode">
                            <img src="resources/images/fullscreen.png"/>
                        </a>
                    </div>
                    <span class="toolbar-buttons">
                        <button id="new">New</button>
                        <button id="new-xquery">New XQuery</button>
                        <button id="open">Open</button>
                        <button id="save">Save</button>
                        <button id="close">Close</button>
                        <button id="eval" title="Evaluate current query inside eXide">Eval</button>
                        <button id="run" title="Run current query or project in new tab/window">Run</button>
                    </span>
                </span>
            </div>
            <div id="body">
                <div id="layout-container">
                    <div class="layout layout-horizontal">
                     <div id="outline-container" class="panel-west">
                            <div id="tabs-outline-container">
                                <ul id="tabs-outline"/>
                            </div>

                            <div id="outline-body">
                                <div class="ace_scroller">
                                    <ul id="outline"/>
                                </div>
                            </div>
                            <div id="directory-body">
                                <div class="ace_scroller">
                                    <div class="tree">
                                        <ul id="directory">
                                            <li id="tree-root"/>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="outline-status">
                                <input type="search" id="outline-filter" placeholder="Filter by..."/>
                            </div>
                            <div class="resize-handle">
                                <span title="Click to close outline"/>
                            </div>
                        </div>

                        <div class="layout-vertical">
                            <div class="main">
                                <div id="tabs-container">
                                    <ul id="tabs">
                                        <li class="drop-placeholder">
                                            <a href="#" class="tab">+</a>
                                        </li>
                                    </ul>
                                    <button id="tab-prev">Previous</button>
                                    <button id="tab-next">Next</button>
                                </div>
                                <div class="content" id="editor"/>
                                <div id="status-bar">
                                    <span id="status">
                                        <a href="#" target="blank" title="Run in new tab">
                                            <span class="fa fa-share"/>
                                        </a>
                                        <span class="path">Path</span>
                                    </span>
                                    <a href="#" id="error-status"/>
                                </div>
                                <div id="ext-status-bar"/>
                            </div>
                            <div class="panel-south results-container">
                                <div class="resize-handle">
                                    <span title="Click to close results"/>
                                </div>
                                <div class="navbar">
                                    <a class="previous" href="#">
                                        <span class="fa fa-backward"/>
                                    </a>
                                    <select name="output-mode" id="serialization-mode">
                                        <option value="adaptive">Adaptive Output</option>
                                        <option value="json">JSON Output</option>
                                        <option value="text">Text Output</option>
                                        <option value="xml">XML Output</option>
                                        <option value="html5">HTML5 Output</option>
                                        <option value="xhtml">XHTML Output</option>
                                        <option value="xhtml5">XHTML5 Output</option>
                                        <option value="microxml">MicroXML Output</option>
                                        <option disabled="disabled">-</option>
                                        <option value="direct">Direct Output</option>
                                    </select>
                                    <label class="checkbox" title="Indent results; effective only in Adaptive, JSON, (X)HTML, and XML Output modes.">
                                        <input type="checkbox" id="indent-results" name="indent-results" checked="checked"/>
                                        Indent
                                    </label>
                                    <label class="checkbox" title="Update query results automatically while you type XQuery or when saving HTML">
                                        <input type="checkbox" id="live-preview" name="live-preview"/>
                                        Live Preview
                                    </label>
                                    <label class="checkbox" title="Automatically highlight hits from index-based queries (e.g., Lucene full text, Range); effective only in Adaptive and XML Output modes when outputting XML nodes.">
                                        <input type="checkbox" id="auto-expand-matches" name="auto-expand-matches" checked="checked"/>
                                        Highlight Index Matches
                                    </label>
                                    <img class="layout-switcher" src="resources/images/layouts_split.png" title="Switch results panel location between bottom and right"/>
                                    <span class="current"/>
                                    <a class="next" href="#">
                                        <span class="fa fa-forward"/>
                                    </a>
                                </div>
                                <div id="results-body">
                                    <div class="ace_marker-layer">
                                        <div class="results"/>
                                    </div>
                                    <iframe id="results-iframe" style="display: none" src="JavaScript:''"/>
                                </div>
                            </div>
                        </div>
                        <div class="panel-east results-container">
                            <div class="resize-handle">
                                <span title="Click to close results"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="open-dialog">
                    <div class="eXide-browse-panel">
                        <div class="eXide-browse-header">
                            <i id="eXide-browse-spinner" class="fa fa-cog fa-spin fa-3x"/>
                            <div class="eXide-browse-toolbar"/>
                            <div class="eXide-browse-breadcrumbs"/>
                        </div>
                        <div class="eXide-browse-main">
                            <div class="eXide-browse-resources ag-theme-alpine"/>
                            <div class="eXide-browse-upload">
                                <p>Drop files here or click on the button below to upload them
                          to the selected collection. Maximum file size is 100MB.</p>
                                <form class="file_upload" action="modules/upload.xql" method="POST" enctype="multipart/form-data">
                                    <div class="options">
                                        <input type="checkbox" name="deploy" id="auto-deploy"/> 
                                        <label for="auto-deploy">Auto deploy uploaded .xar packages</label>
                                    </div>
                                    <div class="file_upload_drop">Drop files here ...</div>
                                    <div class="file_upload_body">
                                        <div class="fileinput-button">
                                            <input id="file_upload" type="file" name="file[]" multiple="multiple"/>
                                            <button class="ui-button ui-widget ui-state-default ui-button-text-icon-primary">
                                                <span class="ui-button-icon-primary ui-icon fa fa-cloud-upload"/>
                                                <span class="ui-button-text">Upload Files</span>
                                            </button>
                                        </div>
                                        <div class="fileinput-button">
                                            <input id="dir_upload" type="file" name="file[]" multiple="multiple" directory="" webkitdirectory=""/>
                                            <button class="ui-button ui-widget ui-state-default ui-button-text-icon-primary">
                                                <span class="ui-button-icon-primary ui-icon fa fa-folder-open-o"/>
                                                <span class="ui-button-text">Upload Directory</span>
                                            </button>
                                        </div>
                                    </div>
                                    <input type="hidden" name="collection" value=""/>
                                </form>
                                <button id="eXide-browse-upload-done">Done</button>
                                <table id="files"/>
                            </div>
                        </div>
                        <div class="eXide-browse-form">
                            <label>Name: </label>
                            <input name="resource" type="text"/>
                        </div>
                        <div class="eXide-browse-upload"/>
                    </div>
                </div>
                <div id="login-dialog">
                    <form id="login-form">
                        <table>
                            <tr>
                                <td>User: </td>
                                <td>
                                    <input type="text" name="user" size="20"/>
                                </td>
                            </tr>
                            <tr>
                                <td>Password: </td>
                                <td>
                                    <input type="password" name="password" size="20"/>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <input type="checkbox" name="duration" value="P14D" id="remember-me"/> <label for="remember-me">Remember me for 2 weeks</label>
                        </td>
                            </tr>
                            <tr>
                                <td id="login-error" colspan="2"/>
                            </tr>
                        </table>
                    </form>
                </div>
                <div id="dialog-confirm-close" title="Close Editor" style="display: none;">
                    <p>
                        <span class="fa fa-4x fa-warning" style="float:left; margin:0 7px 20px 0;"/>There
                are unsaved changes in this document which will be lost if you close it. Do you want to
                continue?</p>
                </div>
                <div id="dialog-run-app" title="Run Application">
                    <div>
                        <span class="fa fa-4x fa-warning" style="float:left; margin:0 7px 24px 0;"/>
                        <p class="first-load">For live reloading, the application page needs to
                        be opened once from within eXide by clicking on the link below:</p>
                        <p class="second-load">Click on the following link to display the application start page:</p>
                        <p>
                            <a href="#" target="_new"/>
                        </p>
                        <p>
                            <input type="checkbox" name="live-reload"/> activate live reload</p>
                    </div>
                </div>
                <div id="keyboard-help">
                    <table id="keybindings"/>
                </div>
                <div id="resource-properties-dialog">
                    <div id="resource-properties-content"/>
                </div>
                <div id="synchronize-dialog">
                    <h3>Project: <span class="project-name">Unknown</span>
                    </h3>
                    <p>Synchronize the current application to a directory on the server. Compares last modification times
                  to determine the files to be synchronized. If a start time is given, only resources updated since
                  that time stamp are taken into account.</p>
                    <form>
                        <fieldset>
                            <ol>
                                <li>
                                    <div class="hint">Start date/time in xs:dateTime notation. Only resources modified after this date will
                                  be synchronized. This field is filled automatically from the application descriptor
                                  (if available).</div>
                                    <input type="dateTime" name="start" size="40"/>
                                    <label for="start">Start time:</label>
                                </li>
                                <li>
                                    <div class="hint">Path to a directory <b>on the server</b>.</div>
                                    <input type="text" name="dir" size="40"/>
                                    <label for="dir">Target directory:</label>
                                </li>
                                <li>
                                    <div class="hint">If checked, the application will be synchronized with the directory automatically
                                    whenever you save a resource.</div>
                                    <input type="checkbox" name="auto"/>
                                    <label for="auto">Synchronize automatically:</label>
                                </li>
                            </ol>
                        </fieldset>
                        <input type="hidden" name="collection" value=""/>
                        <div id="synchronize-report"/>
                    </form>
                </div>
                <div id="dialog-store" style="display: none;">
                    <p>
                        <span class="ui-icon ui-icon-circle-check" style="float:left; margin:0 7px 50px 0;"/>
                        Storing resource <span id="dialog-store-resource"/>
                    </p>
                    <p id="dialog-error"/>
                    <button id="dialog-store-close">Close</button>
                </div>
                <div id="preferences-dialog">
                    <form>
                        <fieldset>
                            <legend>Editor</legend>
                            <ol>
                                <li>
                                    <select id="theme" name="theme">
                                        <option value="ambiance">Ambiance</option>
                                        <option value="chaos">Chaos</option>
                                        <option value="chrome">Chrome</option>
                                        <option value="clouds">Clouds</option>
                                        <option value="clouds_midnight">Clouds Midnight</option>
                                        <option value="cobalt">Cobalt</option>
                                        <option value="crimson_editor">Crimson Editor</option>
                                        <option value="dawn">Dawn</option>
                                        <option value="dreamweaver">Dreamweaver</option>
                                        <option value="eclipse">Eclipse</option>
                                        <option value="github">Github</option>
                                        <option value="idle_fingers">Idle Fingers</option>
                                        <option value="katzenmilch">Katzenmilch</option>
                                        <option value="kr_theme">Kr Theme</option>
                                        <option value="kuroir">Kuroir</option>
                                        <option value="merbivore">Merbivore</option>
                                        <option value="merbivore_soft">Merbivore Soft</option>
                                        <option value="mono_industrial">Mono Industrial</option>
                                        <option value="monokai">Monokai</option>
                                        <option value="pastel_on_dark">Pastel on dark</option>
                                        <option value="solarized_dark">Solarized Dark</option>
                                        <option value="solarized_light">Solarized Light</option>
                                        <option value="terminal">Terminal</option>
                                        <option value="textmate">Textmate</option>
                                        <option value="tomorrow">Tomorrow</option>
                                        <option value="tomorrow_night">Tomorrow Night</option>
                                        <option value="tomorrow_night_blue">Tomorrow Night Blue</option>
                                        <option value="tomorrow_night_bright">Tomorrow Night Bright</option>
                                        <option value="tomorrow_night_eighties">Tomorrow Night Eighties</option>
                                        <option value="twilight">Twilight</option>
                                        <option value="vibrant_ink">Vibrant Ink</option>
                                        <option value="xcode">XCode</option>
                                    </select>
                                    <label for="theme">Theme: </label>
                                </li>
                                <li>
                                    <select name="font">
                                        <option value="&#34;Ubuntu Mono&#34;,Monaco,Menlo,&#34;Droid Sans Mono&#34;,&#34;Courier New&#34;">Default</option>
                                        <option value="&#34;Andale Mono&#34;">Andale Mono</option>
                                        <option>Consolas</option>
                                        <option value="&#34;Droid Sans Mono&#34;">Droid Sans Mono</option>
                                        <option>Menlo</option>
                                        <option>Monaco</option>
                                        <option>monospace</option>
                                        <option value="&#34;Ubuntu Mono&#34;">Ubuntu Mono</option>
                                        <option>ui-monospace</option>
                                    </select>
                                    <label for="font">Font:</label>
                                </li>
                                <li>
                                    <select name="font-size">
                                        <option value="10">10px</option>
                                        <option value="11">11px</option>
                                        <option value="12">12px</option>
                                        <option value="13">13px</option>
                                        <option value="14">14px</option>
                                        <option value="15">15px</option>
                                        <option value="16">16px</option>
                                        <option value="20">20px</option>
                                    </select>
                                    <label for="font-size">Font Size:</label>
                                </li>
                                <li>
                                    <input type="checkbox" name="print-margin"/>
                                    <label for="print-margin">Show Print Margin:</label>
                                </li>
                                <li>
                                    <select name="indent">
                                        <option value="Spaces">Spaces</option>
                                        <option value="Tabs">Tabs</option>
                                    </select>
                                    <label for="indent">Indent mode:</label>
                                </li>
                                <li>
                                    <select name="indent-size">
                                        <option value="2">2 spaces</option>
                                        <option value="4">4 spaces</option>
                                        <option value="8">8 spaces</option>
                                    </select>
                                    <label for="indent-size">Indent size:</label>
                                </li>
                                <li>
                                    <select name="soft-wrap">
                                        <option value="off">Off</option>
                                        <option value="free">Screen width</option>
                                        <option value="40">40</option>
                                        <option value="80">80</option>
                                    </select>
                                    <label for="soft-wrap">Soft wrap:</label>
                                </li>
                                <li>
                                    <input type="checkbox" name="show-invisibles"/>
                                    <label for="show-invisibles">Show Invisibles:</label>
                                </li>
                                <li>
                                    <input type="checkbox" name="emmet"/>
                                    <label for="emmet">Enable emmet in HTML mode:</label>
                                </li>
                            </ol>
                        </fieldset>
                        <fieldset>
                            <legend>Serialization</legend>
                            <p>Control common serialization parameters when opening or downloading
                                resources and EXPath packages: (a) whether indentation is applied to
                                XML documents, (b) whether XInclude elements are expanded, and (c)
                                whether the XML declaration should be omitted.</p>
                            <h3>Opening files (via File > Open)</h3>
                            <ol>
                                <li>
                                    <label for="indent-on-open">Indent:</label>
                                    <input type="checkbox" name="indent-on-open" id="indent-on-open"/>
                                </li>
                                <li>
                                    <label for="expand-xincludes-on-open">Expand XIncludes:</label>
                                    <input type="checkbox" name="expand-xincludes-on-open" id="expand-xincludes-on-open"/>
                                </li>
                                <li>
                                    <label for="omit-xml-decl-on-open">Omit XML Declaration:</label>
                                    <input type="checkbox" name="omit-xml-decl-on-open" id="omit-xml-decl-on-open"/>
                                </li>
                            </ol>
                            <h3>Downloading files (via File > Download)</h3>
                            <ol>
                                <li>
                                    <label for="indent-on-download">Indent:</label>
                                    <input type="checkbox" name="indent-on-download" id="indent-on-download"/>
                                </li>
                                <li>
                                    <label for="expand-xincludes-on-download">Expand XIncludes:</label>
                                    <input type="checkbox" name="expand-xincludes-on-download" id="expand-xincludes-on-download"/>
                                </li>
                                <li>
                                    <label for="omit-xml-decl-on-download">Omit XML Declaration:</label>
                                    <input type="checkbox" name="omit-xml-decl-on-download" id="omit-xml-decl-on-download"/>
                                </li>
                            </ol>
                            <h3>Downloading EXPath packages (via Application > Download App)</h3>
                            <ol>
                                <li>
                                    <label for="indent-on-download-package">Indent:</label>
                                    <input type="checkbox" name="indent-on-download-package" id="indent-on-download-package"/>
                                </li>
                                <li>
                                    <label for="expand-xincludes-on-download-package">Expand XIncludes:</label>
                                    <input type="checkbox" name="expand-xincludes-on-download-package" id="expand-xincludes-on-download-package"/>
                                </li>
                                <li>
                                    <label for="omit-xml-decl-on-download-package">Omit XML Declaration:</label>
                                    <input type="checkbox" name="omit-xml-decl-on-download-package" id="omit-xml-decl-on-download-package"/>
                                </li>
                            </ol>
                        </fieldset>
                    </form>
                </div>
                <div id="select-module-dialog">
                    <div id="module-list"/>
                </div>
                <div id="about-dialog">
                    <p>eXide version <span id="eXide-version">{{version}}</span>
                    </p>
                    <p>Website: <a href="https://github.com/eXist-db/eXide">https://github.com/eXist-db/eXide</a>
                    </p>
                    <p>Copyright (C) 2011-2014 Wolfgang Meier, <a href="http://www.existsolutions.com">eXist Solutions GmbH</a>
                    </p>
                    <p>Licensed under the GPLv3 license</p>
                    <p>Uses the <a href="http://ace.ajax.org">Ajax.org Code Editor (ACE)</a>, originally developed by Ajax.org
                    and licensed under the tri-license MPL/LGPL/GPL.</p>
                </div>
                <div id="find-dialog">
                    <form>
                        <fieldset>
                            <ol>
                                <li>
                                    <input class="query" name="search" type="search" placeholder="Search for ..." required="required"/>
                                    <label for="search">Find:</label>
                                </li>
                                <li>
                                    <input name="case" type="checkbox"/>
                                    <label for="case">Case sensitive:</label>
                                </li>
                                <li>
                                    <input name="regex" type="checkbox"/>
                                    <label for="regex">Regular expression:</label>
                                </li>
                                <li>
                                    <select name="type">
                                        <option value="all">All</option>
                                        <option value="xquery">XQuery</option>
                                        <option value="javascript">Javascript</option>
                                        <option value="css">CSS/Less</option>
                                    </select>
                                    <label for="type">Type:</label>
                                </li>
                                <li>
                                    <input name="target" type="radio" value="collection" checked="checked"/>
                                    <input name="collection" type="text"/>
                                    <label>In: Collection</label>
                                </li>
                                <li>
                                    <input class="project" name="target" type="radio" value=""/>
                                    <span class="project-path"/>
                                    <label>App</label>
                                </li>
                                <li>
                                    <input name="target" type="radio" value="all"/>
                                    <label>All</label>
                                </li>
                            </ol>
                        </fieldset>
                    </form>
                </div>
                <div id="dialog-goto-line">
                    <form>
                        <fieldset>
                            <ol>
                                <li>
                                    <input name="row" type="text" placeholder="Line" size="6"/>
                                    <label for="row">Line:</label>
                                </li>
                                <li>
                                    <input name="column" type="text" placeholder="Column" size="6"/>
                                    <label for="column">Column:</label>
                                </li>
                            </ol>
                        </fieldset>
                    </form>
                </div>
                <div id="dialog-templates">
                    <p>Create a new document by selecting a mode below. If templates are defined for this mode,
                            a second select will appear to choose a template from. If you do not want to use a template,
                            leave it to "None".</p>
                    <form>
                        <fieldset>
                            <ol>
                                <li>
                                    <select class="type-select" name="type">
                                        <option value="text">Other</option>
                                        <option value="xml">XML</option>
                                        <option value="html">HTML</option>
                                        <option value="xquery">XQuery</option>
                                        <option value="javascript">Javascript</option>
                                        <option value="css">CSS</option>
                                        <option value="less">Less</option>
                                    </select>
                                    <label for="type">Type:</label>
                                </li>
                                <li class="templates">
                                    <select name="template">
                                        <option value="">None</option>
                                    </select>
                                    <label for="template">Template:</label>
                                </li>
                            </ol>
                        </fieldset>
                    </form>
                </div>
            </div>
            <div id="autocomplete-box" tabindex="100"/>
            <div id="dialog-startup">
                <h1>Getting Help</h1>
                <p>
                    eXide has many features. Make sure you read the
                    <a href="https://github.com/eXist-db/eXide#readme" target="_new">documentation</a>
                to understand code completion, refactorings, and keyboard shortcuts.</p>
            </div>
            <div id="dialog-git-checkout">
                <p>Checkout git working directory to another branch</p>
                <form>
                    <fieldset>
                        <ol>
                            <li>
                                <div class="hint">Select a new branch</div>
                                <select name="git-checkout" id="git-checkout-select">
                                    <option value="noValue">noValue</option>
                                </select>
                                <label for="git-checkout">checkout to branch:</label>
                            </li>
                        </ol>
                    </fieldset>
                    <input type="hidden" name="git-command" value="checkout"/>
                    <div id="git-checkout-status"/>
                </form>
            </div>
            <div id="dialog-git-commit">
                <p>Sync with the git working directory and run a git commit once done</p>
                <form>
                    <fieldset>
                        <ol>
                            <li>
                                <div class="hint">Start date/time in xs:dateTime notation. Only resources modified after this date will
                              be synchronized. This field is filled automatically from the application descriptor
                              (if available).</div>
                                <input type="dateTime" name="start" size="36"/>
                                <label for="start">Start time:</label>
                            </li>
                            <li>
                                <div class="hint">title (first line) for the commit message</div>
                                <input name="git-commit-title" required="required" size="36"/>
                                <label for="git-commit-title">title:</label>
                            </li>
                            <li>
                                <div class="hint">commit description</div>
                                <textarea name="git-commit-desc" rows="4" cols="35"/>
                                <label for="git-commit-desc">description:</label>
                            </li>
                        </ol>
                    </fieldset>
                    <input type="hidden" name="git-command" value="commit"/>
                    <div id="git-commit-status"/>
                </form>
            </div>
        </div>
    </body>
</html>
