<?xml version="1.0" encoding="UTF-8"?>
<html>
    <head>
        <title>eXide</title>
        <meta charset="utf-8"/>
        <link rel="icon" href="resources/favicon.ico"/>
<link rel="stylesheet" href="resources/css/font-awesome/css/font-awesome.min.css"/>
<link rel="stylesheet" type="text/css" href="resources/css/eXide.css"/>
<link rel="stylesheet" type="text/css" href="resources/css/funcdoc-tooltip.css"/>
<link rel="stylesheet" type="text/css" href="resources/css/lsp-hover.css"/>
        <script type="text/javascript" src="resources/scripts/d3.v3.min.js"/>
        <script type="text/javascript" src="resources/scripts/less.min.js"/>
        <script type="text/javascript" src="resources/scripts/cm6-bundle.js"/>
        <script type="text/javascript" src="resources/scripts/prettier-bundle.js"/>
        <script type="text/javascript" src="resources/scripts/eXide.min.js"/>
    </head>
    <body>
        <div id="splash">
            <div>
                <img src="resources/images/logo.png"/>
                <p>
                    <span id="splash-status">Loading</span> ...</p>
                <p class="help">If eXide fails to load within a few seconds, try to clear your browser cache and reload the page
                (hold Shift and click on the reload icon).</p>
                <p id="startup-error" style="display: none;">
                Your browser is too old!<br/>
                eXide requires a modern browser<br/>
                with support for CSS3 flexbox.</p>
            </div>
        </div>
        <script>
            // Only show splash if loading takes longer than 2 seconds
            window._splashTimer = setTimeout(function() {
                var s = document.getElementById("splash");
                if (s) s.style.display = "";
            }, 2000);
        </script>
        <div id="fullscreen">
            <div class="header"/>
            <div class="editor-header">
                <div class="menu">
                    <span class="logo-wrapper"><img src="resources/images/logo.png" alt="eXide" class="logo"/></span>
                    <ul>
                        <li>
                            <a href="#">File</a>
                            <ul>
                                <li>
                                    <a href="#" id="menu-file-new" data-command="newDocumentFromTemplate">
                                        <span class="fa fa-file-o"/>New</a>
                                </li>
                                <li>
                                    <a href="#" id="menu-file-new-xquery" data-command="newXQuery">
                                        <span class="fa fa-file-code-o"/>New XQuery</a>
                                </li>
                                <li>
                                    <a href="#" id="menu-file-open" data-command="openDocument">
                                        <span class="fa fa-folder-open-o"/>Open</a>
                                </li>
                                <li>
                                    <a href="#" id="menu-file-close" data-command="closeDocument">
                                        <span class="fa fa-times"/>Close</a>
                                </li>
                                <li>
                                    <a href="#" id="menu-file-close-all" data-command="closeAll">
                                        <span class="fa fa-times-circle"/>Close All</a>
                                </li>
                                <li>
                                    <a href="#" id="menu-file-reload" data-command="reloadDocument">
                                        <span class="fa fa-refresh"/>Reload</a>
                                </li>
                                <li>
                                    <a href="#" id="menu-file-save" data-command="saveDocument">
                                        <span class="fa fa-save"/>Save</a>
                                </li>
                                <li>
                                    <a href="#" id="menu-file-save-as">
                                        <span class="fa fa-share-square-o"/>Save As</a>
                                </li>
                                <li>
                                    <a href="#" id="menu-file-download">
                                        <span class="fa fa-download"/>Download</a>
                                </li>
                                <li>
                                    <a href="#" id="menu-file-manager" data-command="dbManager">
                                        <span class="fa fa-database"/>Manage</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Edit</a>
                            <ul>
                                <li>
                                    <a href="#" id="menu-edit-undo" data-command="undo">
                                        <span class="fa fa-rotate-left"/>Undo</a>
                                </li>
                                <li>
                                    <a href="#" id="menu-edit-redo" data-command="redo">
                                        <span class="fa fa-rotate-right"/>Redo</a>
                                </li>
                                <li>
                                    <a href="#" id="menu-edit-find" data-command="searchIncremental">
                                        <span class="fa fa-search"/>Find</a>
                                </li>
                                <li>
                                    <a href="#" id="menu-edit-find-files" data-command="findFiles">
                                        <span class="fa fa-search"/>Find in Files</a>
                                </li>
                                <li>
                                    <a href="#" id="menu-edit-find-replace" data-command="searchIncremental">
                                        <span class="fa fa-search"/>Find/Replace</a>
                                </li>
                                <li>
                                    <a href="#" id="menu-edit-toggle-comment" data-command="toggleComment">
                                        <span class="fa fa-comment-o"/>Toggle Comment</a>
                                </li>
                                <li>
                                    <a href="#" id="menu-edit-preferences" data-command="preferences">
                                        <span class="fa fa-cogs"/>Preferences</a>
                                </li>
                                <li>
                                    <a href="#" id="menu-edit-format" data-command="xquery-format">
                                        <span class="fa fa-indent"/>Format Code</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">View</a>
                            <ul>
                                <li>
                                    <a href="#" id="menu-view-toggle-collections">
                                        <svg class="menu-icon" viewBox="0 0 16 16" fill="none" stroke="currentColor" stroke-width="1.5"><rect x="1" y="2" width="14" height="12" rx="1.5"/><line x1="5" y1="2" x2="5" y2="14"/></svg>Collections Panel</a>
                                </li>
                                <li>
                                    <a href="#" id="menu-view-toggle-results">
                                        <svg class="menu-icon" viewBox="0 0 16 16" fill="none" stroke="currentColor" stroke-width="1.5"><rect x="1" y="2" width="14" height="12" rx="1.5"/><line x1="1" y1="10" x2="15" y2="10"/></svg>Results Panel</a>
                                </li>
                                <li>
                                    <a href="#" id="menu-view-toggle-monitor">
                                        <svg class="menu-icon" viewBox="0 0 16 16" fill="none" stroke="currentColor" stroke-width="1.5"><rect x="1" y="2" width="14" height="12" rx="1.5"/><line x1="11" y1="2" x2="11" y2="14"/></svg>Monitoring Panel</a>
                                </li>
                                <li>
                                    <a href="#" id="menu-view-toggle-dark-mode">
                                        <span class="fa fa-moon-o"/>Dark Mode</a>
                                </li>
                                <li>
                                    <a href="#" id="menu-view-toggle-fullscreen">
                                        <span class="fa fa-arrows-alt"/>Fullscreen</a>
                                </li>
                                <li>
                                    <a href="#" id="menu-view-reset">
                                        <span class="fa fa-refresh"/>Reset Editor Layout</a>
                                </li>
                                <li>
                                    <a href="#" id="menu-view-reset-workspace">
                                        <span class="fa fa-trash-o"/>Reset Workspace</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Navigate</a>
                            <ul>
                                <li>
                                    <a href="#" id="menu-navigate-commands" data-command="commandPalette">
                                        <span class="fa fa-terminal"/>Command Palette</a>
                                </li>
                                <li>
                                    <a href="#" id="menu-navigate-definition" data-command="gotoDefinition">
                                        <span class="fa fa-crosshairs"/>Go to Definition</a>
                                </li>
                                <li>
                                    <a href="#" id="menu-navigate-references" data-command="findReferences">
                                        <span class="fa fa-link"/>Find All References</a>
                                </li>
                                <li>
                                    <a href="#" id="menu-navigate-info" data-command="functionDoc">
                                        <span class="fa fa-info"/>Function Doc</a>
                                </li>
                                <li>
                                    <a href="#" id="menu-navigate-symbol" data-command="gotoSymbol">
                                        <span class="fa fa-search"/>Go to Symbol</a>
                                </li>
                                <li>
                                    <a href="#" id="menu-navigate-buffer" data-command="openTab">
                                        <span class="fa fa-sitemap"/>Go to Editor</a>
                                </li>
                                <li>
                                    <a href="#" id="menu-navigate-line" data-command="gotoLine">
                                        <span class="fa fa-arrow-circle-o-down"/>Go to Line</a>
                                </li>
                                <li>
                                    <a href="#" id="menu-navigate-history" data-command="historyBack">
                                        <span class="fa fa-history"/>Go to Last Edit</a>
                                </li>
                                <li>
                                    <a href="#" id="menu-navigate-diagnostics" data-command="toggleDiagnostics">
                                        <span class="fa fa-exclamation-triangle"/>Toggle Diagnostics Panel</a>
                                </li>
                            </ul>
                        </li>
                        <li id="menu-xquery">
                            <a href="#">XQuery</a>
                            <ul>
                                <li>
                                    <a href="#" id="menu-xquery-expand" data-command="expandSelection">Expand Selection</a>
                                </li>
                                <li>
                                    <a href="#" id="menu-xquery-rename" data-command="renameSymbol">Rename</a>
                                </li>
                                <li>
                                    <a href="#" id="menu-xquery-extract-function" data-command="extractFunction">Extract Function</a>
                                </li>
                                <li>
                                    <a href="#" id="menu-xquery-extract-variable" data-command="extractVariable">Extract Variable</a>
                                </li>
                                <li>
                                    <a href="#" id="menu-xquery-quickfix" data-command="quickfix">Quick Fix</a>
                                </li>
                                <li>
                                    <a href="#" id="menu-xquery-run-test" data-command="xquery-run-test">Run as Test</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">App</a>
                            <ul>
                                <li>
                                    <span class="separator">App: <span id="menu-deploy-active">unknown</span>
                                    </span>
                                </li>
                                <li>
                                    <a href="#" id="menu-deploy-download">
                                        <span class="fa fa-cloud-download"/>Download App</a>
                                </li>
                                <li>
                                    <a href="#" id="menu-deploy-sync" data-command="synchronize">
                                        <span class="fa fa-download"/>Synchronize</a>
                                </li>
                                <li>
                                    <a href="#" id="menu-deploy-live">
                                        <span class="fa fa-check-square-o"/> Live Reload</a>
                                </li>
                            </ul>
                        </li>
                        <li id="menu-git">
                            <a href="#">Git</a>
                            <ul>
                                <li>
                                    <span class="inactive">git working directory: <span id="menu-git-working-dir">unknown</span>
                                    </span>
                                </li>
                                <li>
                                    <span class="separator">Branch: <span id="menu-git-active">unknown</span>
                                    </span>
                                </li>
                                <li>
                                    <a href="#" id="menu-git-checkout">Checkout</a>
                                </li>
                                <li>
                                    <a href="#" id="menu-git-commit">Synchronize and Commit</a>
                                </li>
                            </ul>
                        </li>
                        <li id="menu-xml">
                            <a href="#">XML</a>
                            <ul>
                                <li>
                                    <a href="#" id="menu-xml-rename" data-command="renameSymbol">Rename</a>
                                </li>
                                <li>
                                    <a href="#" id="menu-xml-select-element" data-command="expandSelection">Select Element</a>
                                </li>
                                <li>
                                    <a href="#" id="menu-xml-remove-tag" data-command="removeTags">Remove Tags</a>
                                </li>
                            </ul>
                        </li>
                        <li title="editors">
                            <a href="#">Window</a>
                            <ul>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Help</a>
                            <ul>
                                <li>
                                    <a href="https://github.com/eXist-db/eXide/docs/docs.md" id="menu-help-documentation">Documentation <span class="fa fa-external-link"></span></a>
                                </li>
                                <li>
                                    <a href="#" id="menu-help-keyboard">Keyboard Shortcuts</a>
                                </li>
                                <li>
                                    <a href="#" id="menu-help-about">About</a>
                                </li>
                            </ul>
                        </li>
                        <li id="login-info">
                            <a id="user" href="#" title="Click to login or logout">Login</a>
                        </li>
                    </ul>
                </div>
                <span id="toolbar">
                    <span class="toolbar-buttons">
                        <button id="new" title="Create a new untitled editor tab"><i class="fa fa-file-o"></i> New</button>
                        <button id="new-xquery" title="Create a new untitled XQuery editor tab"><i class="fa fa-file-code-o"></i> New XQuery</button>
                        <button id="open" title="Open a resource from eXist-db"><i class="fa fa-folder-open-o"></i> Open</button>
                        <button id="save" title="Save the active editor tab to eXist-db"><i class="fa fa-floppy-o"></i> Save</button>
                        <button id="close" title="Close the active editor tab"><i class="fa fa-times"></i> Close</button>
                        <button id="run" title="Evaluate this query in eXide"><i class="fa fa-play"></i> Run</button>
                        <button id="cancel-query" title="Cancel running query" style="display:none"><i class="fa fa-stop"></i> Cancel</button>
                        <button id="launch" title="Launch this saved query in a new browser tab"><i class="fa fa-external-link"></i> Launch</button>
                    </span>
                    <span class="toolbar-buttons toolbar-buttons-right">
                        <button id="toggle-outline" title="Toggle outline panel"><svg class="toolbar-icon" viewBox="0 0 16 16" fill="none" stroke="currentColor" stroke-width="1.5"><rect x="1" y="2" width="14" height="12" rx="1.5"/><line x1="5" y1="2" x2="5" y2="14"/></svg></button>
                        <button id="toggle-results" title="Toggle results panel"><svg class="toolbar-icon" viewBox="0 0 16 16" fill="none" stroke="currentColor" stroke-width="1.5"><rect x="1" y="2" width="14" height="12" rx="1.5"/><line x1="1" y1="10" x2="15" y2="10"/></svg></button>
                        <button id="toggle-monitor" title="Toggle Monitor"><svg class="toolbar-icon" viewBox="0 0 16 16" fill="none" stroke="currentColor" stroke-width="1.5"><rect x="1" y="2" width="14" height="12" rx="1.5"/><line x1="11" y1="2" x2="11" y2="14"/></svg></button>
                        <button id="toggle-dark-mode" title="Toggle Dark Mode"><i class="fa fa-moon-o"></i></button>
                        <button id="toggle-fullscreen" title="Toggle Fullscreen Mode"><i class="fa fa-arrows-alt"></i></button>
                    </span>
                </span>
            </div>
            <div id="body">
                <div id="layout-container">
                    <div class="layout layout-horizontal">
                     <div id="outline-container" class="panel-west">
                            <div id="tabs-outline-container">
                                <ul id="tabs-outline"/>
                                <button id="toggle-split-pane" title="Toggle stacked view" aria-pressed="false">⊟</button>
                            </div>

                            <div id="outline-body">
                                <div id="outline-toolbar">
                                    <button data-outline-mode="nested-doc" title="Nested, document order"><i class="fa fa-indent"/> </button>
                                    <button data-outline-mode="flat-doc" title="Flat, document order"><i class="fa fa-list"/> </button>
                                    <button data-outline-mode="flat-alpha" title="Flat, alphabetical"><i class="fa fa-sort-alpha-asc"/> </button>
                                </div>
                                <div class="panel-scroller">
                                    <ul id="outline"/>
                                </div>
                                <div class="panel-filter">
                                    <input type="search" id="outline-filter" placeholder="Filter outline..."/>
                                </div>
                            </div>
                            <div id="directory-body">
                                <div id="dir-toolbar">
                                    <button id="toggle-dir-view" title="Toggle tree / folder view"><i class="fa fa-folder-open-o"/></button>
                                    <button id="refresh-dir" title="Reload"><i class="fa fa-refresh"/></button>
                                </div>
                                <div id="dir-tree-view">
                                    <div class="panel-scroller">
                                        <div class="tree">
                                            <ul id="directory">
                                                <li id="tree-root"/>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div id="dir-flat-view" style="display:none">
                                    <div id="dir-flat-breadcrumbs" class="dir-breadcrumbs"/>
                                    <div class="panel-scroller">
                                        <ul id="dir-flat-list" class="dir-flat-list"/>
                                    </div>
                                </div>
                                <div class="panel-filter">
                                    <input type="search" id="directory-filter" placeholder="Filter resources..."/>
                                </div>
                            </div>
                            <div class="resize-handle">
                                <span title="Click to close outline"/>
                            </div>
                        </div>

                        <div class="layout-vertical">
                            <div class="main">
                                <div id="tabs-container">
                                    <div id="tab-strip-wrap">
                                        <ul id="tabs">
                                            <li class="drop-placeholder">
                                                <a href="#" class="tab">+</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div id="tab-controls-wrap">
                                        <div id="tab-controls">
                                            <button id="tab-scroll-left" class="tab-ctrl-btn" title="Scroll tabs left" aria-label="Scroll tabs left" disabled="disabled">&#x2039;</button>
                                            <button id="tab-scroll-right" class="tab-ctrl-btn" title="Scroll tabs right" aria-label="Scroll tabs right">&#x203A;</button>
                                            <button id="tab-list-btn" class="tab-ctrl-btn tab-list-arrow" title="All open files" aria-label="All open files" aria-haspopup="listbox" aria-expanded="false">&#x25BE;</button>
                                        </div>
                                        <ul id="tab-list-menu" role="listbox" aria-label="Open files"></ul>
                                    </div>
                                </div>
                                <div class="content" id="editor"/>
                                <div id="status-bar">
                                    <span id="status">
                                        <span class="path">Path</span>
                                        <button id="status-copy-url" class="status-copy-btn" title="Copy path to clipboard" style="display:none">
                                            <span class="fa fa-clipboard"/>
                                        </button>
                                    </span>
                                    <span class="status-separator">|</span>
                                    <span id="status-cursor">Ln 1, Col 1</span>
                                    <span class="status-separator" id="status-scope-sep" style="display:none">|</span>
                                    <span id="status-scope" style="display:none"></span>
                                    <a href="#" id="error-status"></a>
                                    <span id="exide-err-pill" role="button" tabindex="0" aria-label="Error details">
                                        <span class="fa fa-exclamation-circle"></span>
                                        <span id="exide-err-pill-label"></span>
                                        <span id="exide-err-pill-arrow"></span>
                                    </span>
                                    <span class="status-right" id="status-db-version"></span>
                                    <span class="status-segment" id="status-app" title="Current application">
                                        <span class="status-segment-label">APP</span>
                                        <img id="toolbar-current-app-icon" class="status-app-icon" style="display:none" alt="" />
                                        <a id="toolbar-current-app-link" class="status-segment-value unknown" target="_blank" rel="noopener">
                                            <span id="toolbar-current-app">unknown</span>
                                        </a>
                                    </span>
                                    <span class="status-segment status-segment-clickable" id="status-type" title="File type — click to change">
                                        <span class="status-segment-label">TYPE</span>
                                        <span class="status-segment-value" id="status-type-value">XQuery</span>
                                        <span class="status-segment-arrow">&#x25B2;</span>
                                    </span>
                                    <div id="type-popover">
                                        <div class="type-popover-item" data-value="css">CSS</div>
                                        <div class="type-popover-item" data-value="html">HTML</div>
                                        <div class="type-popover-item" data-value="javascript">Javascript</div>
                                        <div class="type-popover-item" data-value="json">JSON</div>
                                        <div class="type-popover-item" data-value="less">Less</div>
                                        <div class="type-popover-item" data-value="markdown">Markdown</div>
                                        <div class="type-popover-item" data-value="text">Text</div>
                                        <div class="type-popover-item" data-value="xml">XML</div>
                                        <div class="type-popover-item" data-value="xquery">XQuery</div>
                                    </div>
                                </div>
                                <div id="exide-err-panel">
                                    <div id="exide-err-panel-body"></div>
                                    <button id="exide-err-panel-copy" aria-label="Copy error" title="Copy error to clipboard">
                                        <span class="fa fa-clipboard"></span>
                                    </button>
                                    <button id="exide-err-panel-close" aria-label="Close error panel">&#215;</button>
                                </div>
                                <div id="ext-status-bar"/>
                            </div>
                            <div class="panel-south results-container">
                                <div class="resize-handle">
                                    <span title="Click to close results"/>
                                </div>
                                <div class="navbar">
                                    <div class="navbar-left">
                                        <select name="output-mode" id="serialization-mode" title="Serialization method">
                                            <option value="adaptive">Adaptive</option>
                                            <option value="json">JSON</option>
                                            <option value="text">Text</option>
                                            <option value="xml">XML</option>
                                            <option value="html5">HTML5</option>
                                            <option value="xhtml">XHTML</option>
                                            <option value="xhtml5">XHTML5</option>
                                            <option value="microxml">MicroXML</option>
                                            <option disabled="disabled">-</option>
                                            <option value="direct">Direct</option>
                                        </select>
                                        <a class="toggle-btn active" id="indent-results-btn" href="#" title="Indent results (effective in Adaptive, JSON, (X)HTML, and XML Output modes)">
                                            <i class="fa fa-indent" aria-hidden="true"></i>
                                            <input type="checkbox" id="indent-results" name="indent-results" checked="checked" style="display:none"/>
                                        </a>
                                        <a class="toggle-btn active" id="auto-expand-btn" href="#" title="Highlight Index Matches: highlight hits from index-based queries (e.g., Lucene full text, Range)">
                                            <i class="fa fa-lightbulb-o" aria-hidden="true"></i>
                                            <input type="checkbox" id="auto-expand-matches" name="auto-expand-matches" checked="checked" style="display:none"/>
                                        </a>
                                    </div>
                                    <div class="navbar-center">
                                        <a class="toggle-btn first-page" href="#" title="First page">
                                            <i class="fa fa-chevron-left" aria-hidden="true"></i><i class="fa fa-chevron-left nav-double" aria-hidden="true"></i>
                                        </a>
                                        <a class="toggle-btn previous" href="#" title="Previous page">
                                            <i class="fa fa-chevron-left" aria-hidden="true"></i>
                                        </a>
                                        <a class="toggle-btn result-prev" href="#" title="Previous result">
                                            <i class="fa fa-chevron-up" aria-hidden="true"></i>
                                        </a>
                                        <span class="current"/>
                                        <a class="toggle-btn result-next" href="#" title="Next result">
                                            <i class="fa fa-chevron-down" aria-hidden="true"></i>
                                        </a>
                                        <a class="toggle-btn next" href="#" title="Next page">
                                            <i class="fa fa-chevron-right" aria-hidden="true"></i>
                                        </a>
                                        <a class="toggle-btn last-page" href="#" title="Last page">
                                            <i class="fa fa-chevron-right" aria-hidden="true"></i><i class="fa fa-chevron-right nav-double" aria-hidden="true"></i>
                                        </a>
                                    </div>
                                    <div class="navbar-right">
                                        <select id="number-of-results" title="Number of results per page">
                                            <option value="10" selected="selected">10</option>
                                            <option value="25">25</option>
                                            <option value="50">50</option>
                                            <option value="100">100</option>
                                        </select>
                                        <a class="toggle-btn" id="live-preview-btn" href="#" title="Live Preview: auto-update results while typing XQuery or saving HTML">
                                            <i class="fa fa-eye" aria-hidden="true"></i>
                                            <input type="checkbox" id="live-preview" name="live-preview" style="display:none"/>
                                        </a>
                                        <a class="toggle-btn" id="copy-all-clipboard" href="#" title="Copy all displayed results to clipboard">
                                            <i class="fa fa-clipboard" aria-hidden="true"></i>
                                        </a>
                                    </div>
                                </div>
                                <div id="query-timing" class="query-timing" style="display:none"></div>
                                <div id="results-body">
                                    <div class="marker-layer">
                                        <div class="results"/>
                                    </div>
                                    <iframe id="results-iframe" style="display: none" src="JavaScript:''"/>
                                </div>
                            </div>
                        </div>
                        <div class="panel-east" id="monitor-panel">
                            <div class="resize-handle">
                                <span title="Click to close monitor"/>
                            </div>
                            <div id="monitor-content">
                                <div class="mon-bar">
                                    <div class="mon-title">MONITORING</div>
                                    <div class="mon-controls">
                                        <button id="monitor-close" class="mon-ctrl" title="Close monitor">&#215;</button>
                                    </div>
                                    <div class="mon-controls">
                                        <select id="monitor-interval" class="mon-ctrl">
                                            <option value="1000">1s</option>
                                            <option value="2000" selected="selected">2s</option>
                                            <option value="5000">5s</option>
                                            <option value="10000">10s</option>
                                            <option value="30000">30s</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="mon-body">
                                    <div class="mon-section">
                                        <div class="mon-sec-hd">JAVA MEMORY</div>
                                        <div class="mon-mem-wrap">
                                            <div class="mon-mem-nums">
                                                <span>Used / Max</span>
                                                <span id="mon-mem-nums">-- / -- MB</span>
                                            </div>
                                            <div class="mon-mem-bg">
                                                <div class="mon-mem-committed" id="mon-mem-committed" style="width:0%"></div>
                                                <div class="mon-mem-used" id="mon-mem-used" style="width:0%"></div>
                                            </div>
                                            <div class="mon-mem-legend">
                                                <span><i class="mon-dot mon-dot-used"></i> used</span>
                                                <span><i class="mon-dot mon-dot-committed"></i> committed</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mon-section">
                                        <div class="mon-sec-hd">RUNNING QUERIES <span id="mon-running-count" class="mon-badge">0</span></div>
                                        <div class="mon-table-wrap">
                                            <table class="mon-tbl">
                                                <colgroup>
                                                    <col style="width:18px"/>
                                                    <col style="width:36px"/>
                                                    <col/>
                                                </colgroup>
                                                <thead><tr><th></th><th>Elapsed</th><th>Source</th></tr></thead>
                                                <tbody id="mon-running-body">
                                                    <tr><td colspan="3" class="mon-empty">none</td></tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="mon-section">
                                        <div class="mon-sec-hd">RECENT QUERIES</div>
                                        <div class="mon-table-wrap">
                                            <table class="mon-tbl">
                                                <colgroup>
                                                    <col style="width:36px"/>
                                                    <col/>
                                                </colgroup>
                                                <thead><tr><th>ms</th><th>Source</th></tr></thead>
                                                <tbody id="mon-recent-body">
                                                    <tr><td colspan="2" class="mon-empty">none</td></tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="mon-chips">
                                        <div class="mon-chip" id="mon-chip-db">DB <b>--</b></div>
                                        <div class="mon-chip" id="mon-chip-uptime">Up <b>--</b></div>
                                        <div class="mon-chip" id="mon-chip-wait">Wait <b>0</b></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="open-dialog">
                    <div class="eXide-browse-panel">
                        <div class="eXide-browse-header">
                            <i id="eXide-browse-spinner" class="fa fa-cog fa-spin fa-3x"/>
                            <div class="eXide-browse-toolbar"/>
                            <div class="eXide-browse-breadcrumbs"/>
                        </div>
                        <div class="eXide-browse-main">
                            <div class="eXide-browse-resources"/>
                        </div>
                        <div class="eXide-browse-form">
                            <label>Name: </label>
                            <input name="resource" type="text"/>
                        </div>
                    </div>
                </div>
                <div id="login-dialog">
                    <form id="login-form">
                        <table>
                            <tr>
                                <td>User: </td>
                                <td>
                                    <input type="text" name="user" size="20"/>
                                </td>
                            </tr>
                            <tr>
                                <td>Password: </td>
                                <td>
                                    <input type="password" name="password" size="20"/>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <input type="checkbox" name="duration" value="P14D" id="remember-me"/> <label for="remember-me">Remember me for 2 weeks</label>
                        </td>
                            </tr>
                            <tr>
                                <td id="login-error" colspan="2"/>
                            </tr>
                        </table>
                    </form>
                </div>
                <div id="dialog-confirm-close" title="Close Editor" style="display: none;">
                    <p>
                        <span class="fa fa-4x fa-warning" style="float:left; margin:0 7px 20px 0;"/>There
                are unsaved changes in this document which will be lost if you close it. Do you want to
                continue?</p>
                </div>
                <div id="dialog-run-app" title="Run Application">
                    <div>
                        <span class="fa fa-4x fa-warning" style="float:left; margin:0 7px 24px 0;"/>
                        <p class="first-load">For live reloading, the application page needs to
                        be opened once from within eXide by clicking on the link below:</p>
                        <p class="second-load">Click on the following link to display the application start page:</p>
                        <p>
                            <a href="#" target="_new"/>
                        </p>
                        <p>
                            <input type="checkbox" name="live-reload"/> activate live reload</p>
                    </div>
                </div>
                <div id="keyboard-help">
                    <div class="eXide-browse-resources">
                        <input type="text" class="browse-filter" id="keybindings-filter"
                               placeholder="Filter shortcuts…" autocomplete="off"/>
                        <div class="browse-table-scroll">
                            <table id="keybindings" class="browse-table">
                                <thead>
                                    <tr>
                                        <th class="kb-col-action">Action</th>
                                        <th class="kb-col-shortcut">Shortcut</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div id="upload-dialog">
                    <p>Drop files here or click on the button below to upload them
                        to the selected collection. Maximum file size is 100MB.</p>
                    <form class="file_upload" action="#" enctype="multipart/form-data">
                        <div class="options">
                            <input type="checkbox" name="deploy" id="auto-deploy"/>
                            <label for="auto-deploy">Auto deploy uploaded .xar packages</label>
                        </div>
                        <div class="file_upload_drop">Drop files here ...</div>
                        <div class="file_upload_body">
                            <div class="fileinput-button">
                                <input id="file_upload" type="file" name="file[]" multiple="multiple"/>
                                <button class="eXide-btn">
                                    <span class="fa fa-cloud-upload"/>
                                    Upload Files
                                </button>
                            </div>
                            <div class="fileinput-button">
                                <input id="dir_upload" type="file" name="file[]" multiple="multiple" directory="" webkitdirectory=""/>
                                <button class="eXide-btn">
                                    <span class="fa fa-folder-open-o"/>
                                    Upload Directory
                                </button>
                            </div>
                        </div>
                        <input type="hidden" name="collection" value=""/>
                    </form>
                    <div id="upload-progress-bar">
                        <div id="progress-all"/>
                    </div>
                    <table id="file_upload_table"><thead style="display:none"><tr><th>File</th><th>Size</th><th>Progress</th></tr></thead><tbody id="files"/></table>
                </div>
                <div id="resource-properties-dialog">
                    <div id="resource-properties-content"/>
                </div>
                <div id="synchronize-dialog">
                    <h3>Project: <span class="project-name">Unknown</span>
                    </h3>
                    <p>Synchronize the current application to a directory on the server. Compares last modification times
                  to determine the files to be synchronized. If a start time is given, only resources updated since
                  that time stamp are taken into account.</p>
                    <form>
                        <fieldset>
                            <ol>
                                <li>
                                    <div class="hint">Start date/time in xs:dateTime notation. Only resources modified after this date will
                                  be synchronized. This field is filled automatically from the application descriptor
                                  (if available).</div>
                                    <input type="dateTime" name="start" size="40"/>
                                    <label for="start">Start time:</label>
                                </li>
                                <li>
                                    <div class="hint">Path to a directory <b>on the server</b>.</div>
                                    <input type="text" name="dir" size="40"/>
                                    <label for="dir">Target directory:</label>
                                </li>
                                <li>
                                    <div class="hint">If checked, the application will be synchronized with the directory automatically
                                    whenever you save a resource.</div>
                                    <input type="checkbox" name="auto"/>
                                    <label for="auto">Synchronize automatically:</label>
                                </li>
                            </ol>
                        </fieldset>
                        <input type="hidden" name="collection" value=""/>
                        <div id="synchronize-report"/>
                    </form>
                </div>
                <div id="dialog-store" style="display: none;">
                    <p>
                        <span class="fa fa-check-circle" style="float:left; margin:0 7px 50px 0;"/>
                        Storing resource <span id="dialog-store-resource"/>
                    </p>
                    <p id="dialog-error"/>
                    <button id="dialog-store-close">Close</button>
                </div>
                <div id="preferences-dialog">
                    <form>
                        <fieldset>
                            <legend>Layout</legend>
                            <ol>
                                <li>
                                    <label for="pref-show-west"><svg style="width:14px;height:14px;vertical-align:-2px;margin-right:3px" viewBox="0 0 16 16" fill="none" stroke="currentColor" stroke-width="1.5"><rect x="1" y="2" width="14" height="12" rx="1.5"/><line x1="5" y1="2" x2="5" y2="14"/></svg>Show side panel:</label>
                                    <input type="checkbox" name="show-west" id="pref-show-west"/>
                                </li>
                                <li>
                                    <label for="pref-show-south"><svg style="width:14px;height:14px;vertical-align:-2px;margin-right:3px" viewBox="0 0 16 16" fill="none" stroke="currentColor" stroke-width="1.5"><rect x="1" y="2" width="14" height="12" rx="1.5"/><line x1="1" y1="10" x2="15" y2="10"/></svg>Show results panel:</label>
                                    <input type="checkbox" name="show-south" id="pref-show-south"/>
                                </li>
                                <li>
                                    <label for="pref-show-east"><svg style="width:14px;height:14px;vertical-align:-2px;margin-right:3px" viewBox="0 0 16 16" fill="none" stroke="currentColor" stroke-width="1.5"><rect x="1" y="2" width="14" height="12" rx="1.5"/><line x1="11" y1="2" x2="11" y2="14"/></svg>Show monitoring panel:</label>
                                    <input type="checkbox" name="show-east" id="pref-show-east"/>
                                    <div class="pref-hint">Opens automatically for admin/dba users</div>
                                </li>
                                <li>
                                    <label for="pref-split-pane"><span style="display:inline-block;width:14px;text-align:center;margin-right:3px;font-size:13px;vertical-align:-1px">⊟</span>Stacked side panels:</label>
                                    <input type="checkbox" name="split-pane" id="pref-split-pane"/>
                                </li>
                                <li>
                                    <label for="pref-collections-view"><i class="fa fa-folder-open-o" style="width:14px;text-align:center;margin-right:3px"></i>Collections view:</label>
                                    <select name="collections-view" id="pref-collections-view">
                                        <option value="tree">Tree</option>
                                        <option value="folder">Folder</option>
                                    </select>
                                </li>
                            </ol>
                        </fieldset>
                        <fieldset>
                            <legend>Editor</legend>
                            <ol>
                                <li>
                                    <label for="theme">Theme:</label>
                                    <select id="theme" name="theme">
                                        <option value="light">Light</option>
                                        <option value="dark">Dark</option>
                                        <option value="system">System</option>
                                    </select>
                                </li>
                                <li>
                                    <label for="pref-font">Font:</label>
                                    <select name="font" id="pref-font">
                                        <option value="Default">Default</option>
                                        <option value="&#34;Andale Mono&#34;">Andale Mono</option>
                                        <option>Consolas</option>
                                        <option value="&#34;Droid Sans Mono&#34;">Droid Sans Mono</option>
                                        <option>Menlo</option>
                                        <option>Monaco</option>
                                        <option>monospace</option>
                                        <option value="&#34;Ubuntu Mono&#34;">Ubuntu Mono</option>
                                        <option>ui-monospace</option>
                                    </select>
                                </li>
                                <li>
                                    <label for="pref-font-size">Font Size:</label>
                                    <select name="font-size" id="pref-font-size">
                                        <option value="10">10px</option>
                                        <option value="11">11px</option>
                                        <option value="12">12px</option>
                                        <option value="13">13px</option>
                                        <option value="14">14px</option>
                                        <option value="15">15px</option>
                                        <option value="16">16px</option>
                                        <option value="20">20px</option>
                                    </select>
                                </li>
                                <li>
                                    <label for="pref-indent">Indent mode:</label>
                                    <select name="indent" id="pref-indent">
                                        <option value="Spaces">Spaces</option>
                                        <option value="Tabs">Tabs</option>
                                    </select>
                                </li>
                                <li>
                                    <label for="pref-indent-size">Indent size:</label>
                                    <select name="indent-size" id="pref-indent-size">
                                        <option value="2">2 spaces</option>
                                        <option value="4">4 spaces</option>
                                        <option value="8">8 spaces</option>
                                    </select>
                                </li>
                                <li>
                                    <label for="pref-xquery-version">XQuery version:</label>
                                    <select name="xquery-version" id="pref-xquery-version">
                                        <option value="auto">Auto-detect</option>
                                        <option value="3.1">3.1 (+ 1.0, 3.0)</option>
                                        <option value="4.0">4.0</option>
                                    </select>
                                </li>
                                <li>
                                    <label for="pref-soft-wrap">Soft wrap:</label>
                                    <select name="soft-wrap" id="pref-soft-wrap">
                                        <option value="off">Off</option>
                                        <option value="free">Screen width</option>
                                        <option value="40">40</option>
                                        <option value="80">80</option>
                                    </select>
                                </li>
                                <li>
                                    <label for="pref-print-margin">Show Print Margin:</label>
                                    <input type="checkbox" name="print-margin" id="pref-print-margin"/>
                                </li>
                                <li>
                                    <label for="pref-show-invisibles">Show Invisibles:</label>
                                    <input type="checkbox" name="show-invisibles" id="pref-show-invisibles"/>
                                </li>
                                <li>
                                    <label for="pref-auto-pair">Auto-pair characters:</label>
                                    <input type="checkbox" name="auto-pair" id="pref-auto-pair"/>
                                </li>
                                <li>
                                    <label for="pref-autocomplete-on-type">Autocomplete as you type:</label>
                                    <input type="checkbox" name="autocomplete-on-type" id="pref-autocomplete-on-type"/>
                                </li>
                                <li>
                                    <label for="pref-emmet">Enable emmet (HTML):</label>
                                    <input type="checkbox" name="emmet" id="pref-emmet"/>
                                </li>
                            </ol>
                        </fieldset>
                        <fieldset>
                            <legend>Code Formatting (Prettier)</legend>
                            <ol>
                                <li>
                                    <label for="pref-prettier-print-width">Print width:</label>
                                    <select name="prettier-print-width" id="pref-prettier-print-width">
                                        <option value="40">40</option>
                                        <option value="60">60</option>
                                        <option value="80">80</option>
                                        <option value="100">100</option>
                                        <option value="120">120</option>
                                    </select>
                                </li>
                                <li>
                                    <label for="pref-prettier-single-quote">Use single quotes:</label>
                                    <input type="checkbox" name="prettier-single-quote" id="pref-prettier-single-quote"/>
                                </li>
                            </ol>
                            <p>Tab width and tab/space mode use the editor settings above.
                                Format code with Edit &gt; Reformat (or the keyboard shortcut).</p>
                            <h4 class="pref-subsection">XML / HTML Options</h4>
                            <ol>
                                <li>
                                    <label for="pref-prettier-xml-ws">Whitespace sensitivity:</label>
                                    <select name="prettier-xml-ws" id="pref-prettier-xml-ws">
                                        <option value="ignore">Ignore</option>
                                        <option value="strict">Strict</option>
                                        <option value="preserve">Preserve</option>
                                    </select>
                                </li>
                                <li>
                                    <label for="pref-prettier-xml-self-closing-space">Space before self-closing />:</label>
                                    <input type="checkbox" name="prettier-xml-self-closing-space" id="pref-prettier-xml-self-closing-space"/>
                                </li>
                                <li>
                                    <label for="pref-prettier-xml-sort-attrs">Sort attributes by key:</label>
                                    <input type="checkbox" name="prettier-xml-sort-attrs" id="pref-prettier-xml-sort-attrs"/>
                                </li>
                                <li>
                                    <label for="pref-prettier-xml-quote-attrs">Quote attributes:</label>
                                    <select name="prettier-xml-quote-attrs" id="pref-prettier-xml-quote-attrs">
                                        <option value="preserve">Preserve</option>
                                        <option value="double">Double quotes</option>
                                        <option value="single">Single quotes</option>
                                    </select>
                                </li>
                                <li>
                                    <label for="pref-prettier-single-attr-per-line">Single attribute per line:</label>
                                    <input type="checkbox" name="prettier-single-attr-per-line" id="pref-prettier-single-attr-per-line"/>
                                </li>
                                <li>
                                    <label for="pref-prettier-bracket-same-line">Closing bracket on same line:</label>
                                    <input type="checkbox" name="prettier-bracket-same-line" id="pref-prettier-bracket-same-line"/>
                                </li>
                            </ol>
                            <h4 class="pref-subsection">JavaScript Options</h4>
                            <ol>
                                <li>
                                    <label for="pref-prettier-bracket-spacing">Bracket spacing:</label>
                                    <input type="checkbox" name="prettier-bracket-spacing" id="pref-prettier-bracket-spacing"/>
                                </li>
                                <li>
                                    <label for="pref-prettier-semi">Semicolons:</label>
                                    <input type="checkbox" name="prettier-semi" id="pref-prettier-semi"/>
                                </li>
                                <li>
                                    <label for="pref-prettier-trailing-comma">Trailing commas:</label>
                                    <select name="prettier-trailing-comma" id="pref-prettier-trailing-comma">
                                        <option value="all">All</option>
                                        <option value="es5">ES5</option>
                                        <option value="none">None</option>
                                    </select>
                                </li>
                                <li>
                                    <label for="pref-prettier-arrow-parens">Arrow function parens:</label>
                                    <select name="prettier-arrow-parens" id="pref-prettier-arrow-parens">
                                        <option value="always">Always</option>
                                        <option value="avoid">Avoid</option>
                                    </select>
                                </li>
                            </ol>
                            <h4 class="pref-subsection">HTML Options</h4>
                            <ol>
                                <li>
                                    <label for="pref-prettier-html-ws">Whitespace sensitivity:</label>
                                    <select name="prettier-html-ws" id="pref-prettier-html-ws">
                                        <option value="css">CSS</option>
                                        <option value="strict">Strict</option>
                                        <option value="ignore">Ignore</option>
                                    </select>
                                </li>
                            </ol>
                            <h4 class="pref-subsection">Markdown Options</h4>
                            <ol>
                                <li>
                                    <label for="pref-prettier-prose-wrap">Prose wrap:</label>
                                    <select name="prettier-prose-wrap" id="pref-prettier-prose-wrap">
                                        <option value="preserve">Preserve</option>
                                        <option value="always">Always</option>
                                        <option value="never">Never</option>
                                    </select>
                                </li>
                            </ol>
                        </fieldset>
                        <fieldset>
                            <legend>Serialization</legend>
                            <p>Control serialization when opening, downloading, or syncing resources.</p>
                            <table class="pref-grid">
                                <thead>
                                    <tr>
                                        <th/>
                                        <th>Open</th>
                                        <th>Download</th>
                                        <th>Package</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><label>Indent</label></td>
                                        <td><input type="checkbox" name="indent-on-open" id="indent-on-open"/></td>
                                        <td><input type="checkbox" name="indent-on-download" id="indent-on-download"/></td>
                                        <td><input type="checkbox" name="indent-on-download-package" id="indent-on-download-package"/></td>
                                    </tr>
                                    <tr>
                                        <td><label>Expand XIncludes</label></td>
                                        <td><input type="checkbox" name="expand-xincludes-on-open" id="expand-xincludes-on-open"/></td>
                                        <td><input type="checkbox" name="expand-xincludes-on-download" id="expand-xincludes-on-download"/></td>
                                        <td><input type="checkbox" name="expand-xincludes-on-download-package" id="expand-xincludes-on-download-package"/></td>
                                    </tr>
                                    <tr>
                                        <td><label>Omit XML Declaration</label></td>
                                        <td><input type="checkbox" name="omit-xml-decl-on-open" id="omit-xml-decl-on-open"/></td>
                                        <td><input type="checkbox" name="omit-xml-decl-on-download" id="omit-xml-decl-on-download"/></td>
                                        <td><input type="checkbox" name="omit-xml-decl-on-download-package" id="omit-xml-decl-on-download-package"/></td>
                                    </tr>
                                </tbody>
                            </table>
                        </fieldset>
                    </form>
                </div>
                <div id="select-module-dialog">
                    <div id="module-list"/>
                </div>
                <div id="about-dialog">
                    <p>eXide version <span id="eXide-version">{{version}}</span>
                    </p>
                    <p>Website: <a href="https://github.com/eXist-db/eXide">https://github.com/eXist-db/eXide</a>
                    </p>
                    <p>Copyright (C) 2011-2014 Wolfgang Meier, <a href="http://www.existsolutions.com">eXist Solutions GmbH</a>
                    </p>
                    <p>Licensed under the GPLv3 license</p>
                    <p>Uses <a href="https://codemirror.net/">CodeMirror 6</a> by Marijn Haverbeke,
                    licensed under the MIT license.</p>
                </div>
                <div id="find-dialog">
                    <form>
                        <fieldset>
                            <ol>
                                <li>
                                    <input class="query" name="search" type="search" placeholder="Search for ..." required="required"/>
                                    <label for="search">Find:</label>
                                </li>
                                <li>
                                    <input name="case" type="checkbox"/>
                                    <label for="case">Case sensitive:</label>
                                </li>
                                <li>
                                    <input name="regex" type="checkbox"/>
                                    <label for="regex">Regular expression:</label>
                                </li>
                                <li>
                                    <select name="type">
                                        <option value="all">All</option>
                                        <option value="xquery">XQuery</option>
                                        <option value="javascript">Javascript</option>
                                        <option value="css">CSS/Less</option>
                                    </select>
                                    <label for="type">Type:</label>
                                </li>
                                <li>
                                    <input name="target" type="radio" value="collection" checked="checked"/>
                                    <input name="collection" type="text"/>
                                    <label>In: Collection</label>
                                </li>
                                <li>
                                    <input class="project" name="target" type="radio" value=""/>
                                    <span class="project-path"/>
                                    <label>App</label>
                                </li>
                                <li>
                                    <input name="target" type="radio" value="all"/>
                                    <label>All</label>
                                </li>
                            </ol>
                        </fieldset>
                    </form>
                </div>
                <div id="dialog-goto-line">
                    <form>
                        <fieldset>
                            <ol>
                                <li>
                                    <input name="row" type="text" placeholder="Line" size="6"/>
                                    <label for="row">Line:</label>
                                </li>
                                <li>
                                    <input name="column" type="text" placeholder="Column" size="6"/>
                                    <label for="column">Column:</label>
                                </li>
                            </ol>
                        </fieldset>
                    </form>
                </div>
                <div id="dialog-templates">
                    <p>Create a new document by selecting a mode below. If templates are defined for this mode,
                            a second select will appear to choose a template from. If you do not want to use a template,
                            leave it to "None".</p>
                    <form>
                        <fieldset>
                            <ol>
                                <li>
                                    <select class="type-select" name="type">
                                        <option value="css">CSS</option>
                                        <option value="html">HTML</option>
                                        <option value="javascript">Javascript</option>
                                        <option value="json">JSON</option>
                                        <option value="less">Less</option>
                                        <option value="markdown">Markdown</option>
                                        <option value="text">Text</option>
                                        <option value="xml">XML</option>
                                        <option value="xquery" selected="selected">XQuery</option>
                                    </select>
                                    <label for="type">Type:</label>
                                </li>
                                <li class="templates">
                                    <select name="template">
                                        <option value="">None</option>
                                    </select>
                                    <label for="template">Template:</label>
                                </li>
                            </ol>
                        </fieldset>
                    </form>
                </div>
            </div>
            <div id="dialog-startup">
                <h1>Getting Help</h1>
                <p>
                    eXide has many features. Make sure you read the
                    <a href="https://github.com/eXist-db/eXide#readme" target="_new">documentation</a>
                to understand code completion, refactorings, and keyboard shortcuts.</p>
            </div>
            <div id="dialog-git-checkout">
                <p>Checkout git working directory to another branch</p>
                <form>
                    <fieldset>
                        <ol>
                            <li>
                                <div class="hint">Select a new branch</div>
                                <select name="git-checkout" id="git-checkout-select">
                                    <option value="noValue">noValue</option>
                                </select>
                                <label for="git-checkout">checkout to branch:</label>
                            </li>
                        </ol>
                    </fieldset>
                    <input type="hidden" name="git-command" value="checkout"/>
                    <div id="git-checkout-status"/>
                </form>
            </div>
            <div id="dialog-git-commit">
                <p>Sync with the git working directory and run a git commit once done</p>
                <form>
                    <fieldset>
                        <ol>
                            <li>
                                <div class="hint">Start date/time in xs:dateTime notation. Only resources modified after this date will
                              be synchronized. This field is filled automatically from the application descriptor
                              (if available).</div>
                                <input type="dateTime" name="start" size="36"/>
                                <label for="start">Start time:</label>
                            </li>
                            <li>
                                <div class="hint">title (first line) for the commit message</div>
                                <input name="git-commit-title" required="required" size="36"/>
                                <label for="git-commit-title">title:</label>
                            </li>
                            <li>
                                <div class="hint">commit description</div>
                                <textarea name="git-commit-desc" rows="4" cols="35"/>
                                <label for="git-commit-desc">description:</label>
                            </li>
                        </ol>
                    </fieldset>
                    <input type="hidden" name="git-command" value="commit"/>
                    <div id="git-commit-status"/>
                </form>
            </div>
        </div>
        <div id="directory-context-menu" class="directory-context-menu">
            <div class="ctx-item" data-action="new-collection"><i class="fa fa-folder"/>New Collection</div>
            <div class="ctx-item" data-action="new-resource"><i class="fa fa-file"/>New Resource</div>
            <div class="ctx-separator"/>
            <div class="ctx-item" data-action="upload"><i class="fa fa-upload"/>Upload Files</div>
            <div class="ctx-item" data-action="download"><i class="fa fa-download"/>Download</div>
            <div class="ctx-separator"/>
            <div class="ctx-item" data-action="rename"><i class="fa fa-pencil"/>Rename</div>
            <div class="ctx-item" data-action="delete"><i class="fa fa-trash"/>Delete</div>
            <div class="ctx-separator"/>
            <div class="ctx-item" data-action="copy-path"><i class="fa fa-clipboard"/>Copy Path</div>
            <div class="ctx-item" data-action="properties"><i class="fa fa-info"/>Properties</div>
            <div class="ctx-separator"/>
            <div class="ctx-item" data-action="reload"><i class="fa fa-refresh"/>Reload</div>
        </div>
        <div id="browse-context-menu" class="directory-context-menu">
            <div class="ctx-item" data-action="open"><i class="fa fa-folder-open"/>Open</div>
            <div class="ctx-separator"/>
            <div class="ctx-item" data-action="create"><i class="fa fa-folder-o"/>New Collection</div>
            <div class="ctx-item" data-action="upload"><i class="fa fa-upload"/>Upload Files</div>
            <div class="ctx-item" data-action="download"><i class="fa fa-download"/>Download</div>
            <div class="ctx-separator"/>
            <div class="ctx-item" data-action="rename"><i class="fa fa-pencil"/>Rename</div>
            <div class="ctx-item" data-action="copy"><i class="fa fa-copy"/>Copy</div>
            <div class="ctx-item" data-action="cut"><i class="fa fa-cut"/>Cut</div>
            <div class="ctx-item" data-action="paste"><i class="fa fa-paste"/>Paste</div>
            <div class="ctx-separator"/>
            <div class="ctx-item" data-action="delete"><i class="fa fa-trash"/>Delete</div>
            <div class="ctx-separator"/>
            <div class="ctx-item" data-action="copy-path"><i class="fa fa-clipboard"/>Copy Path</div>
            <div class="ctx-item" data-action="properties"><i class="fa fa-info"/>Properties</div>
        </div>
    <script type="text/javascript" src="resources/scripts/ui-init.js"></script>
    </body>
</html>
